@media (max-width: 640px) {

header{
    display: block;
    text-align: center;
    margin: 0%;

}

header h1{
    display: none;
}


.navigation{display: block;
    width: 90%;
    margin-left: 10px;
    padding-left: 10px;
    display: none;
}

.navigation ul{display: block;
    margin-left: 0;
    padding-left: 5px;
   
}

.navigation ul a{
    padding-top: 35px;
}
.focus, .spotlight, footer{
    display: block;
    text-align: center;
}

footer{
    padding-bottom: 40px;
}

footer a{
    padding-top: 10px;
    margin-bottom: 25px;
   
}
#lastModified{
    margin-bottom: 25px;
}

#menu{
    display: block;
    top:15px;
    right: 15px;
}















}