/* colors: 
37, 169, 229  (25A9E5)dark blue
117, 187, 235 (75BBEB) light blue
242, 204, 143 (F2CC8F) sand 
#3B3B3B-black  #0A435C-d-blue  #004700d-green*/

/* Home Page styles */

h1, h2, .con-info, h3{
    font-family: Bodoni MT Std, serif;
}

a, .summary p, .rent, .weather h3, p, li, legend, label, select, #submit, 
#current-weather, #next-day-weather{
    font-family: Avenir, sans-serif;
}

header{
    display: flex;
    justify-content: center;
    background-color: #F2CC8F;
    height: 250px;
}

.logo{
    align-self: center;
    height: 75px;
    margin: 15px;
    background-color: white;
    padding: 5px;
}

h1{
    align-self: center;
    font-size: 200px;
    margin: 15px;
    color: #0A435C;

}

.navigation{
    display: flex;
    background-color: #25A9E5;
    height: 50px;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
    margin-top: 0;
}


.navigation a{
    text-decoration: none;
    color:black;
    font-size: 25px;
}

.navigation a:hover{
    text-decoration: underline;
    color: white;
}

.hero-1 img{
    display: block;
    margin-right: auto ;
    margin-left: auto;
    width: 85%;
}

#banner{
    display: block;
    margin-right: auto ;
    margin-left: auto;
    margin-top: 30px;
    width: 85%;
    height: 125px;
    background-color: #F2CC8F;
    border-radius: 20px;
}

#banner p{ padding-top: 10px;
    font-size: 30px;
    text-align: center;
    margin: 0;
}

#high-temp{
    font-weight: 800;
}

.close-btn{
    position: absolute;
    top: 1095px;
    right: 175px;
    font-size: 25px;
    width: 30px;
    border: 2px solid #0A435C;
    border-radius: 10px;
    text-align: center;
}

.close-btn:hover{
    color: #25A9E5;
}

.summary{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 90%;
    height: 300px;
    background-color: #25A9E5;
    margin-left: 80px;
    margin-top: 50px;
    justify-items: center;
}

.summary p{
    padding-top: 20px;
    font-size: 20px;
    text-align: justify;
    grid-row: 1/span2;
    padding-left: 30px;
    padding-right: 30px;
}

#menu{
    display: none;
}

.action h2{
    font-size: 30px;
}

.rent{
    text-align: center;
    height: 60px;
    width: 300px;
    margin-top: -15px;
    
}

.rent button{
    margin-left: 100px;
    background-color: #F2CC8F;
    border-radius: 20px;
    font-size: 20px;
    width: 150px;
    height: 50px;
}

.rent button:hover{
    color: white;
}

.con-info{
    grid-column: 2/2;
    grid-row: 2/2;
    background-color: #25A9E5;
    
}

.con-info p{
    text-align: center;
    padding: 5px;
    font-size: 20px;
    font-weight: 800;
    color: black;
}

.locations{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    margin-bottom: 50px;
}

.location-1{
    grid-column: 1/1;
    grid-row: 2/2;
    justify-self: center;
}

.location-2{
    grid-column: 2/2;
    grid-row: 2/2;
    justify-self: center;
}

.one{
    grid-column: 1/1;
    grid-row: 3/3;
}

.two{
    grid-column: 2/2;
    grid-row: 3/3;
}

.one, .two{
    justify-self: center;
    margin-top: 50px;
}

.locations h3{
    font-size: 35px;
    grid-column: 1/span2;
    text-align: center;
    background-color: #F2CC8F;
    height: 50px;
    border-radius: 15px;
    padding-top: 20px;

}

.location-1, .location-2{
    font-size: 20px;
    text-decoration: underline;
}

.weather{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 100px 1fr;
    height: 400px;
    background-color: #F2CC8F;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    border-radius: 50px;
}

.weather h3{
    text-align: center;
    font-size: 30px;
}

.today{
    grid-column: 1/3;
}

.next{
    grid-column: 3/span2;
    grid-row: 1/1;
}

#current-weather{
    grid-row: 2/2;
    grid-column: 1/3;
    justify-self: center;
    border: 2px solid #0A435C;
    line-height: 30px;
    width: 200px;
    text-align: center;
    margin-bottom: 20px;
}

#next-day-weather{
    grid-row: 2/2;
    grid-column: 3/span2;
    justify-self: center;
    border: 2px solid #0A435C;
    line-height: 30px;
    width: 200px;
    text-align: center;
    margin-bottom: 20px;
    padding-top: 12px;
}

#next-day-icon, #next-day-temp, #next-day-desc, #next-day-humidity, #next-day-wind-speed{
    margin: 5px;
}

#current-temp, #next-day-temp{
    font-weight: 800;
}

footer{display: flex;
    justify-content: space-evenly;
    background-color: #25A9E5;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100px;
    align-items: center;
}

footer p{
    font-size: 20px;
    color: black;
}

.fb, .tw, .ig{
    height: 50px;
    border-radius: 6px;
}

/* submit styles */

.submit, .thankyou{display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 30px;
    text-align: center;
    background-color: #F2CC8F;
    color: black;
    border-radius: 20px;
    
}

/* thank you styles */




/* Reservation styles */


.reserve{
    position: relative;
  display: inline-block;
}

.reserve img{
    display: block;
    margin-right: 350px ;
    margin-left: 100px;
    width: 90%;
}

.overlay{
    position: absolute;
    top: 20%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    padding: 10px 20px; 
    font-size: 60px; 
    text-align: center;
    color: #0A435C;
}

.agree{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    background-color: #F2CC8F;
    padding: 20px;
    border-radius: 30px;
}

.agree ul{
    grid-column: 1/1;
    font-size: 20px;
    line-height: 45px;
}

.agree h2{
    margin-bottom: 0;
    margin-top: 30px;
    font-size: 30px;
}
.res-form h2{
    margin-top: -30px;
    margin-bottom: 15px;
    font-size: 30px;
    padding-left: 20px;
}

.agree fieldset{
    width: 90%;
    padding-left: 20px;
    border: 2px solid black;
    background-color: #25A9E5;
}
#reserve-form{
    padding-left: 20px;
    
}

#reserve-form legend{
    font-size: 25px;
}

#reserve-form label{
    font-size: 20px;
}

#reserve-form input, #reserve-form select, textarea{
    display: block;
    width: 100%;
    max-width: 500px;
    height: 40px;
    margin: 10px;
}

textarea{
    height: 200px;
}

#reserve-form #submit{
    background-color: #25A9E5;
    font-size: 25px;
    height: 70px;
    
}

#submit:hover{
    color: white;
}

/* contact styles */

.c-form{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    margin-top: 20px;
}

.form{
    width: 600px;
    grid-column: 2/2;
    grid-row: 1/span2;
    justify-self: center;
    
}

.form legend{
    font-size: 30px;
}

.form fieldset{
    background-color: #25A9E5;
    border: 2px solid black;
}

.form fieldset input{
    display: block;
    width: 100%;
    max-width: 500px;
    height: 40px;
    margin-bottom: 15px;
    margin-left: 10px;
    
}

.form fieldset label{
    margin-left: 15px;
    font-size: 20px;
}

.information-2, .information-1{
    grid-column: 1/1;
    grid-row: 1/1;
    margin-left: 25px;
    
}

.information-2{
    margin-top: 300px;
}

.information-2 h3, .information-1 h3{
    font-size: 30px;
    text-decoration: underline;
}

.contact-us #submit{
    margin-top: 10px;
    height: 70px;
    width: 300px;
    background-color: #25A9E5;
    font-size: 25px;
}

.contact-hero{
    position: relative;
  display: inline-block;
}

.contact-hero img{
    display: block;
    margin-right: 350px ;
    margin-left: 100px;
    width: 90%;
}

.overlay{
    position: absolute;
    top: 40%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    padding: 10px 20px; 
    font-size: 60px; 
    text-align: center;
    color: #0A435C;
}

/* rental styles */

.rental{
    position: relative;
  display: inline-block;
  color: #0A435C;
}

.rental-hero{
    display: block;
    margin-right: 350px ;
    margin-left: 100px;
    width: 90%;
}

.overlay-rent{
    position: absolute;
    top: 25%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    padding: 10px 20px; 
    font-size: 60px; 
    text-align: center;
}

#vehicle-info{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 1300px;
    border-top: 5px solid #25A9E5;
    border-bottom: 5px solid #25A9E5;
   
}

#option-container section{
    text-align: center;
    width: 400px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-right: 2px solid #25A9E5;
    border-left: 2px solid #25A9E5;
    margin-right: 5px;
}

.table-container{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

table{
    text-align: center;
    width: 1000px;
    height: 450px;
    font-size: 20px;
    background-color: #F2CC8F;
    border-spacing: 10px;

}

table th{
    text-align: center;
    
}

table tr{
    background-color: white;
}


