/* mobile styles for home page */
@media (max-width: 640px){
    header{
        display: block;
        text-align: center;
        font-size: 80px;
        height: 225px;
        width:100%;
    }

    .logo{
        height: 50px;
    }

    h1{
        font-size: 100px;
        
    }
    .nav {display: block;
        width: 95%;
        height: 150px;
        margin-top: 10px;
        padding-left: 10px;
    }
    
    .nav ul{display: block;
        padding-top: 10px;
        padding-bottom: 10px;
        height: 150px;
        text-align: center;
    }
    
    .nav a{
        margin-left: -20px;
    }

    #menu{
        position: absolute;
        right: 20px;
        top: 175px;
        background-color: #25A9E5;
    }

    #menu::before {
        content: "☰";
        font-size: 30px;
        width: 20px;
    }
    
    #menu.open::before {
        content: "☓";
        font-size: 30px;
        color:black;
        width: 20px;
        
    }
    
    .open .nav {
        display: block;
    }
    
    .open .nav a{
        display: block;
        width: 100%;

    }

    .hero-1 img{
        margin-top: 50px;
    }

    #banner{
        height: 200px;
    }

    #banner p{
        font-size: 20px;
        padding-top: 40px;
    }
    .close-btn{
        position: absolute;
        top: 665px;
        right:65px;
        font-size: 15px;
        width: 25px;
        border-radius: 5px;
       
    }

    .summary{
        height: 525px;
    }

    .summary p{
        font-size: 20px;
    }

    .action{
        display: block;
        width:85% ;
        height: 160px;
    }
    .action h2{
        font-size: 25px;
        padding-top: 20px;
        text-align: center;
    }

    .rent button{
        display: block;
        margin-top: 15px;
        margin-left: -100px;
        padding: 5px;
        font-size: 20px;

    }

    .con-info{
        width: 85%;

    }

    .con-info h3{
        font-size: 20px;
    }

    .locations{
        display:block
    }

    iframe{
        width: 375px;
        height: 375px;
    }

    .weather{
        display: block;
        text-align: center;
        height: 700px;
        padding-top: 20px;
    }

    .weather h3{
        font-size: 25px;
    }

    #current-weather{
        display: block;
        margin-left: 80px;
    }

    #next-day-weather{
        display: block;
        margin-left: 80px;
    }

    footer {
        display: block;
        text-align: center;
        height: 175px;
    }

    footer p{
        font-size:18px ;
        padding-top: 20px;
    }

    footer a{
        margin-right: 20px;
    }


}
/* rentals page styling */
@media (max-width: 640px){

    .rental{
        display: block;
    }
    .rental-hero{
        width: 400px;
        height: 200px;
        margin-left: 10px;
        margin-top: 30px;
    }

    .overlay-rent{
        font-size: 40px;
        
    }

    .grid {
        display: block;
        margin-left: 0;
        border-bottom: none;
        border-top: none;
    }

    #option-container section{
        border-right: none;
        border-left: none;
        border-top: 5px solid #25A9E5;
        padding-top: 20px;
    }

    table{
        font-size: 18px;
        width: 500px;
    }

}

/* reservation styling */
    @media (max-width: 640px){

    .reserve{
        height: 250px;
        margin-top: 30px;
    }
     .reserve img{
        width: 450px;
        height: 200px;
        margin-left: 15px;
     }   

     .overlay h2{
        position: relative;
        font-size: 40px;
        top: -40px;
        right: 150px;
        margin-left: 0;

     }

     .agree{
        display: block;
        margin-left: 20px;
        width: 400px;
     }

    .res-form h2 {
        margin-top: 40px;
    }

     .agree fieldset{
        width: 375px;
        margin-left: -25px;

     }

     #reserve-form input, textarea, #reserve-form select {
        width: 90%;
     }

    }

/* contact page syling */
@media(max-width: 640px){
    .contact-hero{
        display: block;
      
    }

    .contact-hero img{
        margin-left: 20px;
        height: 200px;
        margin-top: 30px;
    }

    .contact-hero .overlay h2{
        font-size: 35px;
        text-align: center;
        top: -10px;
        right: 70px;
    }

    .c-form{
        display: block;
    }

    .information-1, .information-2{
        display: block;
    }

    .information-2{
        margin-top: 60px;
    }

    .form{
        margin-top: 40px;
        width: 375px;
    }

    .contact-us fieldset input{
        width: 90%;
    }

}

/* submit anf thank you styling */
@media(max-width: 640px){
    .submit, .thankyou{
        display: block;
        width: 300px;
        height: 300px;
        margin-top: 30px;
        padding-top: 30px;
        font-size: 25px;
    }












}




