    /* uniquifier Use a unique and descriptive class name
weight- Use a value from 200 to 900*/

@import url('https://fonts.googleapis.com/css2?family=Advent+Pro&family=Literata:ital,opsz,wght@0,7..72,200..900;1,7..72,200..900&family=Orbitron&display=swap');
body {
    font-family: Literata, serif;
}

img{margin-left: 40px;
    width: 200px;
}
header{display: flex;
    background-color: rgb(157, 129, 80);
    padding-bottom: 20px;
    padding-top: 20px;
    align-items: center;
    padding-left: 30%;
    padding-right: 30%;
}



picture img{display: block;
             margin: 0 auto;
            width: 960px;
            height: auto;
            border-radius: 5px;
            padding-top: 20px;
}


.hero-label {
	position: absolute;
	top: 350px;
	left: 400px;
	background: radial-gradient(#fff, #4D5B97);
	border: 1px solid rgba(0,0,0,.75);
	padding: 1.5rem;
	box-shadow: 0 0 3rem #fff;
	opacity: 0.75;
	/* Buenas */
}

.hero-label p {
	margin: 0;
	padding: .25rem;
	font-weight: 700;
	font-size: 1.5rem;
}


h1{
    color: white;
    text-align: left;
   
}

 #hamButton {
	font-size: 1.5rem;
	border: 0;
	background: none;
	color: #000;
 	position: fixed;
	top: 15px;
	right: 15px;
}


#hamButton::before {
	content: "☰";
}

#hamButton.open::before {
	content: "✖️";
}

#hamButton{
    display:none;
}

.open nav {
	display: block;
}

.open nav a{
    display: block;
    width: 100%;
  } 


nav{
    background-color: rgb(20, 55, 24);
    padding-bottom: 20px;
    padding-top: 20px;
    text-align: center;
}

nav a{
    display: inline;
}

a{
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px 10px;
}

main{display: grid;
    grid-template-columns: 1fr 1fr;

}

h2{grid-column: 1/span 2;
    margin-top: 30px;
    margin-bottom: 30px;
    border-bottom: solid black 1px;
    text-align: center;
}

.card{margin-top: 40px;
    border: solid black 1px;
   /*grid-column: 1/2;*/
}

.card li{
    list-style-type: circle;
}

.card li a{
    color:black
    
}

.card li a:hover{
    color: green;
}

h3{
    background-color: rgb(157, 129, 80);
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 0;
    text-align: center;
   
}

iframe{
    
        margin: 20px 20px 20px 20px;
        padding: 10px 10px 10px 10px;
        width: 97%;
    }
    

footer{
    text-align: center;
    margin: 10px;
}