@media (max-width: 640px) {
    main{
        justify-content: space-evenly;
        grid-template-columns: 1fr;
    }
        nav ul {
            display: flex;
        }
        nav ul li {
            flex: 1 1 100%;
        }

        nav a{
            display: block;
        }
        header {display: block;
            text-align: center;
            padding-left: 0%;
            padding-right: 0%;
        }
        header h1{
            text-align: center;
        }

        picture img{
            width: 400px;
            height:auto;
            
        }

        .hero-label {
            position: absolute;
            top: 350px;
            left: 60px;
            background: radial-gradient(#fff, #4D5B97);
            border: 1px solid rgba(0,0,0,.75);
            padding: 10px;
            box-shadow: 0 0 3rem #fff;
            opacity: 0.75;
            /* Buenas */
        }
        
        .hero-label p {
            margin: 0;
            padding: .25rem;
            font-weight: 700;
            font-size: 10px;
        }

        
        #hamButton{
            display:block;
            position: fixed;
            top: 15px;
        }

       
        iframe{
            width: 87%;
        }





    }

