@media (min-width: 640px) {
    main{
        display: flex;
        justify-content: space-evenl;
    }
        nav ul {
            display: flex;
        }
        nav ul li {
            flex: 1 1 100%;
        }
    }
