@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    max-width: 1300px;
    margin: auto;
}

h1{
    font-family: 'Baskerville', serif;
    color: #401201;
    background-color:#E3D1C4 ;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 25px;
    margin-bottom: 25px;
}

p, ul{
    font-family: 'Montserrat Alternates', sans-serif;
    padding-top: 10px;
    padding-bottom: 10px;
}

li{
    list-style: none;
    text-align: center;
}

.frame{
    background-color:#E1A8A8 ;
}

.desk{display:block;
    margin-right: auto;
    margin-left: auto;
    width: 50%;

}

.mobile{display:block;
    margin-right: auto;
    margin-left: auto;
    width: 25%;

}

p, h2{
    color: #401201;
    text-align: center;
} 
img{display:block;
    margin-right: auto;
    margin-left: auto;
    width: 25%;
}

.color ~ img {display:block;
    margin-right: auto;
    margin-left: auto;
    width: 10%;
}
