@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* colors:  Text- #401201, Footer- #401201/ #EBEBEB, 
        Background- #E3D1C4, Accents: #E1A8A8 */

h1, h2, #join legend, button, h3{
    font-family: 'Baskerville', serif;
     color: #401201;
}

p, figcaption, label, #join input[type="submit"], h4, #forecast-container,#current-temp, #windchill{  color: #401201;
    font-family: 'Montserrat Alternates', sans-serif;
}

/*header*/

header{
    display: flex;
    align-items: center;
    margin-top: 15px;
    margin-left: 15%;
    margin-bottom: 10px;
}

header h1{
    padding-left: 5%;
    align-content: end;
    font-size: 50px;
    color: #401201;
}

.navigation{display: flex;
    color: #EBEBEB;
    background-color:  #401201;
    padding:10px;
    margin:0%
    
}

.navigation ul{display: flex;
    margin: auto;
    width: 70%;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
}

.navigation a{
    color: #EBEBEB;
    text-decoration: none;
    padding-right: 10%;
    padding-left: 10%;
    margin: 2%;
    list-style-type: none;
}

.dark-mode{
    width: 50px;
    height: 50px;
    background-color: #E3D1C4;
    position: absolute;
    top: 25px;
    right: 30px;
}

.hero{

    margin-top: 10px;
    height: 600px;
}

.hero img{
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 95%;
}

.about{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    background-color:#E3D1C4 ;
    width: 90%;
    
}

.about p{
    margin: 10px;
    padding: 10px;
    height: 275px;
    width: 40%;
    font-size: 25px;
    text-align: justify;
}

.about img{
    margin: 10px;
    padding: 10px;
    height: 400px;
    width: 30%;
}


.focus{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 30px;
    padding: 10px; 
    
}

.focus p{grid-row: 2/2;
   padding-left: 10px;
   padding-right: 10px;
   margin: auto;
   width: 75%;
   text-align: justify;
}

.lead {grid-column: 1/1;
    padding-left: 20px;
    padding-right: 20px;
    margin: auto;
}

.educate{grid-column: 2/2;
    padding-left: 20px;
    padding-right: 20px;
    margin: auto;
}

.support {
    grid-column: 3/3;
    padding-left: 20px;
    padding-right: 20px;
    margin: auto;
}

.action{display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid #401201;
    border-radius: 150px;
    height: 300px;
    width: 75%;
    margin-left: 12%;
    margin-top: 5%;
    margin-bottom: 5%;
    background-color: #E3D1C4;
}

.action p{
    font-size: 30px;
    font-weight: 400;
}

.action button{
    width: 250px;
    height: 45px;
    border: 2px solid #401201;
    border-radius: 20px;
    background-color: #E1A8A8;
    font-weight: 300;
}

.action a{
    font-size: 25px;
   
}

.spot-heading{
    background-color: #E3D1C4;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    width:1500px;
    margin-left: 5%;
    border-bottom: 2px solid #401201;


}

.spotlight{
    display: flex;
   flex-direction: row;
    justify-items: center;
    justify-content: space-evenly;
    padding: 20px;
    
}

.spotlight section{
    display: flex;
    flex-direction: column;
    justify-items: center;
    background-color: white;
    padding: 10px;
}

.spotlight section img{
    height: 600px;
    width: 300px;
    
}


.weather{display: grid;
    grid-template-columns: 300px 300px 1fr;
    column-gap: 20px;
    text-align: center;
    width: 70%;
    margin-left: 15%;
    margin-top: 5%;
    margin-bottom: 5%;
    height: 300px;
    padding-bottom: 10px;
}

.weather p, #current-temp, .weather img, .weather figcaption{
    grid-column: 1/1;
    
    
}

.weather p, h4{
    align-self: end;
    margin: 0;
}

.weather h4, #forecast-container{
    grid-column: 3/3;
}

.weather h4, .weather p{
    grid-row: 1/1;
}


.weather p{
    font-weight: 700;
}

#windchill{
    border: 2px solid #401201;
    margin-top: -85px;
}

.wind{display: grid;
    grid-column: 2/2;
    
}
.wind p{
    margin-top: -20px;
    align-self: flex-start;
}

#current-temp, #weather-icon, figcaption{
    grid-row: 2/3;
}

#current-temp, #weather-icon{
    padding-bottom: 10px;
}

#temp-container{
    grid-row: 2/3;
    align-content: center;
    padding-bottom: 20px;
    border: 2px solid #401201;
}

#forecast-container{
    grid-row: 2/3;
    border: 2px solid #401201;
}
#forecast-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 50px;
}

#forecast-container img{
   
    padding: 10px;
}

#forecast-container div span{
    display: flex;
    flex-direction: column;
    justify-self: center;
}
footer{
    display: flex;
    background-color: #401201;
    padding: 20px;
}

footer p{align-content: center;
    margin: auto;
    padding: 15px;
    color:#EBEBEB;
}

footer a{
    color:#EBEBEB;
    padding: 15px;
    text-decoration: none;
    border: 2px solid #EBEBEB;
    margin: 10px;
}

#menu{
    display:none;
    
}










