

/* styles for the discovery page */

.container-1{
    display: grid;
    grid-template-columns: 1fr 1fr 200px;
    width: 1800px;
    margin: 100px;
    column-gap: 20px;
    
}
.demographics, .attractions , .events {
    height: 450px;
    border-top: solid 2px #401201;
    border-bottom: solid 2px #401201;
    padding: 15px;
    margin-top: 50px;
    font-size: 20px;
    line-height: 30px;
}

.photo-gallery{
    margin-left: 50px;
}

.photo-gallery img{
    margin-top: 50px;
}

#disc-visit p{
    font-weight: 900;
    text-align: center;
    margin-top: 50px;
    font-size: 20px;
}
.photo-gallery img:hover{
    border-radius: 15px 250px;

}

/* Thank you page for the join submission */
#thank-you {
    display: flex;
    text-align: center;
    width: 80%;
    height: 350px;
    margin-top: 10%;
    margin-left: 10%;
}





/* join page styles */

.joining{
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}

.joining h1{
    grid-column: span 2;
    margin: 2%;
    padding: 2%;
    text-align: center;
    font-size: xxx-large;
}

#join{
    grid-column: 1/1;
    width: 500px;
    justify-self: center;
}

.membership{
    grid-column: 2/2;
    justify-self: start;
}

.membership h1{
    font-size: large;
}

#join legend{
    font-size: 25px;
    font-weight: bold;
}

#join input[type="text"],
#join input[type="email"],
#join input[type="tel"],
#join select,
#join area,
#join .description, 
#join input[type="submit"]{
    display: block;
    width: 100%;
    max-width: 400px;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 30px;
    
}
#join fieldset{
    padding: 20px;
    margin: 5%;
    width: 450px;
    border-radius: 30px ;
    justify-self: center;
    background-color: #E3D1C4;
    border: 2px solid #401201;
}

#join input[type="submit"]{
    margin-left: 5%;
    margin-bottom: 5%;
    background-color: #E1A8A8;
}

#join .description{
    margin-left: -10px;
    margin-bottom: 0;
    padding-bottom: 0;
}

#join #area{
    width: 300px;
}

.membership h1{
    font-size: xx-large;
}

.nonp p, .bronze p, .silver p, .gold p{
border: 2px solid #401201;
background-color: #E3D1C4;
color:#401201;
width: 600px;
height: 200px;
margin-top: 0;
padding: 5%;
font-size: larger;
line-height: 40px;
}



.membership h2{
    text-align: center;
    margin-bottom: 0;
}

/* directory styling */

.grid{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    border-top: 2px solid #401201;

}

.grid section{
   text-align: center;
   padding: 20px;
   max-width: 300px;
   margin: 5px;
   border-right: 2px solid #401201;
   border-left: 2px solid #401201;

    
}

.heading{
    text-align: center;
    margin: 10px;
    padding: 5px;
}

.heading button{
    padding: 5px;
    width: 100px;
    border: solid 2px #401201;
    border-radius: 10px;
    margin: 10px;
    background-color: #E3D1C4;
    color:#401201;
    font-size: 20px;
}

.list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10%;
}

.list section{
    display: grid;
    grid-template-columns: 1fr 1fr 300px;
    max-width: 1300px;
    margin: 10px;
    border: 2px solid #401201;
    padding: 10px;

}

.list section img{
    display: none;
}

.list section strong{
    align-content: center;
}